/* CSS code for styling the website */

html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("brij6.webp");
    background-size: cover;
  }
  
  h2 {
    color: #f29a02;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    background-image: url("brij.jpg");
    background-size: cover;
    color: white;
    padding:10px;
    margin-right:1px;
    border: 1px solid #25322fff;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border: 0px solid #050000ff;
    border-radius: 50%;
  }
  
  .nav {
    list-style: none;
    display: flex;
  }
  
  .nav li {
    margin: 0 10px;
  }
  
  .nav li a {
    color: white;
    text-decoration: none;
  }
  
  .nav li a:hover {
    color: #f0f0f0;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .sidebar {
    background-image: url("brij7.jpg");
    background-size:cover;
    color: #c9d1d4;
    padding: 10px;
    border: 1px solid #bcf0ec;
    border-radius: 20px;
  }
  
  .sidebar h3 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: #22ddc7;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #f0f0f0;
  }
  
  .content {
    background-image: url("brij5.jpg");
    background-size: cover;
    padding: 10px;
    border: 1px solid #89c4f0ff;
    border-radius: 20px;
    color: white;
  }
  
  .content h2 {
    margin-top: 0;
  }
  
  .content p {
    text-align: justify;
  }
  
  .content img {
    width: 100%;
    height: auto;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  footer {
    background-image: url("foot.jpg");
    background-size: cover;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  
  
  
  
  /* ------------------------ */
  
  .footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0px;
  }
  
  .footer2:hover {
    background-image: url("form.jpg");
    background-size: cover;
    border: 0px solid green;
    border-radius: 50px;
  }
  